@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;500&display=swap');
.navbarTitle{
  font-family: 'Cormorant Garamond', serif;  
  font-size: 16px;
  color: white !important;
  letter-spacing: 6px; 
  margin-left: 18px;
}
.portfolioCard {
  margin-right: 10%;
  margin-left: 10%;
  /* opacity: 40%; */
  /* background-color: rgb(80, 78, 78) !important; */
}
.card-content {
  opacity: 100%
}
.portfolioImg {
  /* opacity: 1000%; */
  display: block;
  margin-left: auto;
  margin-right: auto; 
  /* min-width: 100px;
  max-height: 100%;   */
  width:100%;
  height:auto; 
  max-width: 500px;
  height: auto;
  min-width: 50%;
  /* height: auto;
  min-width: 50%;*/
  padding: 3%;
  margin-top: -2%; 
}
.portfolioDescription {
  text-align: center;
  font-family: 'Cormorant Garamond', serif;  
  letter-spacing: 7px; 
  color: #000000;
  text-shadow: 2px 2px 4px #000000;
}
.portfolioExplanation {
  font-family: 'Cormorant Garamond', serif;
  font-size: 18px;
  color: #3a3a3a !important;
  letter-spacing: 1px;
  line-height: 140%; 
  text-align: center;

}
.copyright {
  font-family: 'Cormorant Garamond', serif;  
  font-size: 15px;
  color: white !important;
  letter-spacing: 3px; 
  margin-bottom: 5px;
  text-align: center;
}
.aboutUsInfo {
  /* text-align: center; */
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: white !important;
  letter-spacing: 1px; 
  margin-right: 2%;
}
.card-image {
  margin: 3%;
  margin-right: -1%
}
.tab{
  color: #666565  !important;
  letter-spacing: 2px;
  font-family: 'Cormorant Garamond', serif;  
}
.tabs {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: #3f51b5  !important;
}
.headerLogo {
    width: 60px;
    margin-top: 5px;
    margin-left: 10px;
}
#title {
  text-transform: uppercase;
  font-size: 35px;
  font-family: 'Cormorant Garamond', serif;  
  letter-spacing: 12px; 
  color:white;
}
.profileImage{ 
  float: left;
  padding: 3%;
  margin-top: -2%;
  width:100%;
  height:auto; 
  max-width: 20%;
  height: auto;
  min-width: 40%; 
}
.missionStatement{
  font-family: 'Cormorant Garamond', serif;
  text-align: center;
  font-size: 25px;
  letter-spacing: 2px; 
  margin-right: 10%;
  margin-left: 10%;
}
.getToKnowUsCard{
  margin: 8%;
  margin-top: -1%;
}
.getToKnowUs{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
  color:white !important;
  letter-spacing: 5px; 
  line-height: 300%;
  text-shadow: 2px 2px 4px #000000;
}
.savedDropBox{
  margin-left: 25%;
  margin-bottom: 8%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  letter-spacing: 1px; 
  margin-top: -5%;
}
.nav-wrapper {
    background-color: rgba(0,0,0,0); 
}
.full-width {
  height: 100%;
  min-height: 700px !important;
}
nav {
  background-color: rgba(0,0,0,0)!important;
}
.sRS {
    text-align: center;
}
.fas {
    color: white;
}
.fab{
    color:white;
}
p{
    color: white;
}
.title {
    text-align: center;
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px; 
}
.subheading {
    text-align: center;
    font-size: 25px;
    padding: 3%;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px; 
}
.text {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
 
}
.usernameInput {
    text-align: center;
    font-family: 'Cormorant Garamond', serif;  
    letter-spacing: 7px; 
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 20px;
}
body {
    background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
    /* background-image: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%), url("https://wallpaperaccess.com/full/1773222.jpg"); */
}
p {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px; 
}
.contactinfo {

  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  font-size: 12px;
  letter-spacing: 1px; 
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
.contactC{
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  font-size: 21px;
  letter-spacing: 1px; 
  color: white;
  text-shadow: 2px 2px 4px #000000;
  padding: 1%;
}
.c{
  padding-top: 1%;
}

.saveTrip {
  color: grey;
}

.jumbotron {
  background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.footer{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}
#featuredHeading {
  font-size: 18px;
  letter-spacing: 5px;
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  text-shadow: 2px 2px 4px #000000;
}
.ccc {
  font-family: 'Cormorant Garamond', serif;
  text-shadow: 2px 2px 4px #000000;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: -2%;
  text-align: justify;
  font-size: 19px;
  line-height: 150%;
}